@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

html {
    font-size: 10px;
    
   /* background: url('./background.jpg') bottom center;*/
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(30deg, #4877c0, #d4a8bf);
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    /* border: .4rem solid black; */
    /* border-radius: .5rem; */
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .27s ease;
    width: 10rem;
    text-align: center;
    color: black;
    background: rgba(147, 125, 194, 0.5);
    /* box-shadow: -6px -6px 2px 1px rgba(31, 70, 144, 0.5); */
    border: 2px solid rgba(31, 70, 144, 0.3);
    
    /* text-shadow: 0 0 .5rem black; */
  }
  
  .playing {
    transform: scale(1.2);
    /* border-color: #ffc600; */
    /* box-shadow: 0 0 1rem #ffc600; */
    color: #D3CEDF;
    background-color: rgba(31, 70, 144, 0.5);

  }
  
  kbd {
    display: block;
    font-size: 4rem;
    font-family: 'Paytone One', sans-serif;
    font-weight: 900;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }

  @media (max-width: 850px) {
    .keys {
      flex-wrap: wrap;
    }
  }